<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Blog</display-name>
  <welcome-file-list>
    
    <welcome-file>English.jsp</welcome-file>
   
  </welcome-file-list>
<servlet>
 <description></description>
    <display-name>UserServlet</display-name>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.blog.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/User.do</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>com.blog.servlet.ArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/Article.do</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.blog.servlet.CommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/Comment.do</url-pattern>
    </servlet-mapping>
</web-app>